version: "3.9"
services:
  db:
    image: postgres:16
    container_name: events_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: events
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      # PGADMIN_CONFIG_ALLOW_SPECIAL_EMAIL_DOMAINS: '["local.test","localhost","localdomain"]'
      # PGADMIN_CONFIG_CHECK_EMAIL_DELIVERABILITY: "False"
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  dbdata:
